@model List<SupporterRowViewModel>

@{
    ViewData["Title"] = "Index";

    String color = "black";
    if (TempData["MessageSeverity"] != null)
    {
        var severity = (MessageSeverity)TempData["MessageSeverity"];
        switch (severity)
        {
            case MessageSeverity.Ok: color = "green"; break;
            case MessageSeverity.Warning: color = "orange"; break;
            case MessageSeverity.Error: color = "red"; break;
        }
    }
}

<h2 class="text-center">Supporter list</h2>


@if (ViewData["Initial message"] != null)
{
    <h3>@ViewData["Initial message"]</h3>
}
@if (TempData["MessageText"] != null)
{
    <p id="feedback-message" style="color: @color;">@TempData["MessageText"]</p>
}
<table class="table">
    <thead>
        <tr>
            <th>name</th>
            <th>Surname</th>
            <th>Birth</th>
            <th colspan="2">&nbsp;</th>
        </tr>
    </thead> 
    <tbody>
        @foreach (var supporter in Model)
        {
            <tr>
                <td>@supporter.Name</td>
                <td>@supporter.Surname</td>
                <td>@supporter.Birth</td>
                <td>@supporter.SupportedCount</td>
                <td><a asp-controller="Supporter" asp-action="Edit" asp-route-id="@supporter.Id">edit</a></td>
                <td><a asp-controller="Supporter" asp-action="Delete" asp-route-id="@supporter.Id" class="text-danger">delete</a></td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="Supporter" asp-action="Add">Add Supporter</a>